
课程
前端培训
Java培训
河码
优惠
搜索课程
1
 返回
从入门到工作「方方」-前端系统班 通关任务
课程简介
课程简介
学习资源
文章
CSS 代码
视频
概述
视频
历史
视频
CSS学习资源
视频
制作导航
视频
制作 Logo
课后习题
测试
CSS自学1
测试
导航栏和 logo
标记为已完成
上个任务
下个任务
高级特性—JVM概述
直播时间: 2019-03-10
所属课程:
《 从入门到工作-Java系统班 通关任务 》
>
CSS 代码
注意，如果你改了代码，却发现页面没有更新
这时你应该

打开当前页面的开发者工具
点开 Network
勾选 Disable Cache
只要你不关闭开发者工具，那么缓存就会被禁用
关闭缓存
关闭缓存
知识点
如何做横向布局（float + clearfix）
如何取色、量尺寸、预览字体（Word）
如何使用开发者工具查看样式、继承样式
四种引入 CSS 的方式：style 属性、style 标签、css link、css import
常见 CSS 属性：
font-family font-size font-weight
ul、body 的默认 margin 和 padding
color、background-color、margin、padding
line-height
代码
a.css

body{
  background: black;
}
a{
  text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/*上面不要看*/
.topNavBar {
}
.topNavBar .logo {
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 22px;
  padding-top: 1px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{
  color: #9A9DA2;
}

.topNavBar nav {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.topNavBar nav a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
}
.topNavBar nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav>ul>li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav ul>li>a{
  border-bottom: 3px solid transparent;
}
.topNavBar nav ul>li>a:hover{
  border-bottom-color: #DC6465;
}
index.html

<!DOCTYPE html>
<html>
  <head>
    <title>方方的个人简历</title>
    <link rel="stylesheet" href="./a.css">
  </head>
  <body>
    <div class="topNavBar clearfix">
      <a class="logo" href="#" alt="logo" style="float: left; ">
        <span class="rs">RS</span><span class="card">card</span>
      </a>
      <nav style="float: right;">
        <ul class="clearfix">
          <li><a href="#">关于</a></li>
          <li><a href="#">技能</a></li>
          <li><a href="#">作品</a></li>
          <li><a href="#">博客</a></li>
          <li><a href="#">日历</a></li>
          <li><a href="#">联系方式</a></li>
          <li><a href="#">其他</a></li>
        </ul>
      </nav>
    </div>
    <div class="banner" style="background-image: url(#)"></div>
    <main>
      <div class="card">
        <div class="pictureAndText">
          <div class="picture">
            <img src="" alt="头像">
          </div>
          <div class="text">
            <div class="profile">
              <span class="welcome">Hello</span>
              <h1>方应杭</h1>
              <p>前端开发工程师</p>
              <hr>
              <dl>
                <dt>年龄</dt>
                <dd>18</dd>
                <dt>所在城市</dt>
                <dd>北京</dd>
                <dt>邮箱</dt>
                <dd>fangyinghang@foxmail.com</dd>
                <dt>手机</dt>
                <dd>13812345678</dd>
              </dl>
            </div>
          </div>
        </div>
        <footer class="media">
          <a href="#"><img src="#" alt="..."></a>
          <a href="#"><img src="#" alt="..."></a>
          <a href="#"><img src="#" alt="..."></a>
          <a href="#"><img src="#" alt="..."></a>
          <a href="#"><img src="#" alt="..."></a>
          <a href="#"><img src="#" alt="..."></a>
          <a href="#"><img src="#" alt="..."></a>
        </footer>
      </div>

      <a class="button" href="#">下载 PDF 简历</a>

      <p>
        方应杭， 资深前端工程师，资深前端讲师，现在在 饥人谷 教前端课程。<br>
        技能：前端开发，Rails 开发，Node.js 开发
      </p>

    </main>
    <section>
      <h2>技能</h2>
      <ol>
        <li>HTML 5 &amp; CSS 3</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Vue</li>
        <li>React</li>
        <li>HTTP</li>
      </ol>
    </section>
    <section>
      <h2>作品集</h2>
      <nav>
        <ol>
          <li>所有</li>
          <li>框架</li>
          <li>原生JS&amp;CSS</li>
        </ol>
      </nav>

      <div class="jobs">
        <div class="big"></div>
        <div class="small"></div>
        <div class="small"></div>
      </div>

    </section>
  </body>
</html>
